# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv

# Docker
Dockerfile
.dockerignore

# IDE / Editor
.idea
.vscode

# OS-specific
.DS_Store
Thumbs.db

# Local environment
.env

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/
